{% extends "paper_base.html" %}

{% block app_content %}
<div class="card ">
    <div class="card-header ">
        <h5 class="card-title">Switch account</h5>
        <span class="card-category no-capitalize"><i class="fa fa-info-circle"></i> Switch naar account van andere gebruikers</span>
    </div>
    <div class="card-body">
        <form class="form" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.user) }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
</div>
<div class="card ">
    <div class="card-header ">
        <h5 class="card-title">Test e-mail</h5>
        <span class="card-category no-capitalize"><i class="fa fa-info-circle"></i> Force error to test error e-mail</span>
    </div>
    <div class="card-body">
        <form class="form" method="POST" enctype="multipart/form-data">
            <h5 class="mb-0">Simplicate Project Trello Kaarten</h5>
            <input class="btn btn-danger mb-2" id="force_error" name="force_error" type="submit" value="Force error">
        </form>
    </div>
</div>
{% endblock %}