{% extends "paper_base.html" %}

{% block app_content %}
<div class="card ">
    <div class="card-header ">
        <h5 class="card-title">Admin</h5>
        <span class="card-category no-capitalize"><i class="fa fa-history"></i> Dag</span>
    </div>
    <div class="card-body ">
        <form class="form" method="POST" enctype="multipart/form-data">
            <input class="btn btn-warning" id="test_jaarwerk" name="test_jaarwerk" type="submit" value="Test Jaarwerk">
            <input class="btn btn-warning" id="test_maandwerk" name="test_maandwerk" type="submit" value="Test Maandwerk">
            <input class="btn btn-warning" id="test_klaar_archief" name="test_klaar_archief" type="submit" value="Test Klaar Archief">
            <input class="btn btn-warning" id="test_project_trello_cards" name="test_project_trello_cards" type="submit" value="Test Project Trello Kaarten">
        </form>
    </div>
</div>
{% endblock %}